# Jupyter Notebook: Load BLS QCEW Employment Data from API (NAICS 211 + 213111) into economic_indicators

In [1]:
# Jupyter Notebook: Load BLS QCEW Employment Data from API (NAICS 211 + 213111) into economic_indicators

import os
from dotenv import load_dotenv
import pandas as pd
import requests
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
from time import sleep
from tqdm import tqdm

# Load environment variables
load_dotenv()
BLS_API_KEY = os.environ["BLS_API_KEY"]

# Database config
DB_NAME = os.environ["DB_NAME"]
DB_USER = os.environ["DB_USER"]
DB_PASSWORD = os.environ["DB_PASSWORD"]
DB_HOST = os.environ.get("DB_HOST", "localhost")
DB_PORT = os.environ.get("DB_PORT", "5432")

connection_url = URL.create(
    "postgresql+psycopg2",
    username=DB_USER,
    password=DB_PASSWORD,
    host=DB_HOST,
    port=DB_PORT,
    database=DB_NAME,
)
engine = create_engine(connection_url, echo=True)

In [2]:
# ----------------------------------------
# Query target county-year pairs
# ----------------------------------------

with engine.connect() as conn:
    result = conn.execute(text("""
        SELECT DISTINCT county_fips, year
        FROM economic_indicators
        WHERE (county_fips LIKE '08%' OR county_fips LIKE '48%')
          AND year BETWEEN 2015 AND 2021
        ORDER BY year
    """))
    county_years = list(result.mappings())

2025-04-19 18:07:27,028 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-04-19 18:07:27,029 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-19 18:07:27,029 INFO sqlalchemy.engine.Engine select current_schema()
2025-04-19 18:07:27,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-19 18:07:27,030 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-04-19 18:07:27,030 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-04-19 18:07:27,031 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-04-19 18:07:27,032 INFO sqlalchemy.engine.Engine
        SELECT DISTINCT county_fips, year
        FROM economic_indicators
        WHERE (county_fips LIKE '08%%' OR county_fips LIKE '48%%')
          AND year BETWEEN 2015 AND 2021
        ORDER BY year

2025-04-19 18:07:27,032 INFO sqlalchemy.engine.Engine [generated in 0.00057s] {}
2025-04-19 18:07:27,036 INFO sqlalchemy.engine.Engine ROLLBACK

In [3]:
# ----------------------------------------
# Build list of all series IDs for NAICS 211 and 213111
# ----------------------------------------

series_map = {}
for row in county_years:
    state = row["county_fips"][:2]
    county = row["county_fips"][2:]
    year = row["year"]
    for naics in ["211", "213111"]:
        naics6 = naics.zfill(6)
        sid = f"ENU{state}{county}5{naics6}"
        series_map[sid] = {"county_fips": state + county, "year": year, "naics": naics}

In [4]:
# ----------------------------------------
# Batch query 50 at a time
# ----------------------------------------

all_series = list(series_map.keys())
batch_size = 50
records = []

for i in tqdm(range(0, len(all_series), batch_size), desc="Fetching BLS data"):
    batch_ids = all_series[i:i+batch_size]
    payload = {
        "seriesid": batch_ids,
        "startyear": "2015",
        "endyear": "2021",
        "registrationkey": BLS_API_KEY
    }
    url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
    headers = {"Content-type": "application/json"}

    try:
        response = requests.post(url, json=payload, headers=headers)
        data = response.json()
        if "Results" not in data:
            print(f"⚠️ No results in batch {i}")
            continue

        for series in data["Results"]["series"]:
            sid = series["seriesID"]
            meta = series_map.get(sid, {})
            for obs in series["data"]:
                if obs["period"] != "A":
                    continue  # annual only
                records.append({
                    "county_fips": meta["county_fips"],
                    "year": int(obs["year"]),
                    f"qcew_emp_{meta['naics']}": float(obs["value"])
                })
    except Exception as e:
        print(f"❌ Batch {i} failed: {e}")
    sleep(1.5)  # avoid rate limits

Fetching BLS data:   0%|          | 0/13 [00:00<?, ?it/s]

❌ Batch 0 failed: 'series'

Fetching BLS data:   8%|▊         | 1/13 [00:02<00:27,  2.26s/it]

❌ Batch 50 failed: 'series'

Fetching BLS data:  15%|█▌        | 2/13 [00:04<00:22,  2.04s/it]

❌ Batch 100 failed: 'series'

Fetching BLS data:  23%|██▎       | 3/13 [00:06<00:20,  2.02s/it]

❌ Batch 150 failed: 'series'

Fetching BLS data:  31%|███       | 4/13 [00:08<00:18,  2.01s/it]

❌ Batch 200 failed: 'series'

Fetching BLS data:  38%|███▊      | 5/13 [00:10<00:15,  1.99s/it]

❌ Batch 250 failed: 'series'

Fetching BLS data:  46%|████▌     | 6/13 [00:11<00:13,  1.96s/it]

❌ Batch 300 failed: 'series'

Fetching BLS data:  54%|█████▍    | 7/13 [00:13<00:11,  1.97s/it]

❌ Batch 350 failed: 'series'

Fetching BLS data:  62%|██████▏   | 8/13 [00:15<00:09,  1.98s/it]

❌ Batch 400 failed: 'series'

Fetching BLS data:  69%|██████▉   | 9/13 [00:17<00:07,  1.98s/it]

❌ Batch 450 failed: 'series'

Fetching BLS data:  77%|███████▋  | 10/13 [00:19<00:05,  1.98s/it]

❌ Batch 500 failed: 'series'

Fetching BLS data:  85%|████████▍ | 11/13 [00:21<00:03,  1.98s/it]

❌ Batch 550 failed: 'series'

Fetching BLS data:  92%|█████████▏| 12/13 [00:23<00:01,  1.96s/it]

❌ Batch 600 failed: 'series'

Fetching BLS data: 100%|██████████| 13/13 [00:25<00:00,  1.98s/it]

In [5]:
# ----------------------------------------
# Convert to DataFrame and reshape for update
# ----------------------------------------

df = pd.DataFrame(records)
if df.empty:
    print("No records found.")
else:
    df = df.groupby(["county_fips", "year"]).first().reset_index()
    print(f"✅ {len(df)} records ready to update.")

    with engine.begin() as conn:
        for _, row in df.iterrows():
            conn.execute(
                text("""
                    UPDATE economic_indicators
                    SET qcew_emp_211 = COALESCE(:emp211, qcew_emp_211),
                        qcew_emp_213111 = COALESCE(:emp213, qcew_emp_213111)
                    WHERE county_fips = :county_fips AND year = :year
                """),
                {
                    "emp211": row.get("qcew_emp_211"),
                    "emp213": row.get("qcew_emp_213111"),
                    "county_fips": row["county_fips"],
                    "year": row["year"]
                }
            )

    print("✅ BLS API QCEW employment data updated for NAICS 211 and 213111.")

No records found.